.room-info {
    grid-area: roominfo;
    padding-left: 96px;
	background-color: #F7F6FD;
}

.room-info h1 {
    height: 28px;
	color: #0a0a0a;
	font-family: "Avenir Next";
	font-size: 30px;
	font-weight: bold;
	line-height: 33px;
}

.room-info p strong{
    height: 28px;
	color: #46da53;
	font-family: "Avenir Next";
	font-size: 20px;
	font-weight: 500;
	line-height: 16px;
}

.hr { 
    border: 0; 
    height: 3px; 
    background: #EDEEF6;
}